
    <div class="advice_wrapper">
           <h5>Piece of Advice</h5>
           <div class="spacer"></div>
           <p>This presentation displays a service & feature level mapping between the 3 major public clouds i.e.Amazon Web Service, Microsoft Azure & Google Cloud</p>
       <p>A Reference manual to help anyone to quickly learn the alternate features & services between clouds</p>
       <p>This is NOT a comparison chart/material between the cloud providers</p>
       <p>“None” mentioned against certain services is based on unavailability of certain direct mapping services between cloud providers</p>
       <p>Strictly No Personal or Employer opinions expressed in this comparison</p>
       <p>All the definition & benefits of services mentioned in this presentation is sourced from the respective cloud providers websites and documentations.</p>
       <p>For any queries or issues, please raise an issue request here</p>
       <p>Listing doesn't include Third party services offered through cloud market places</p>
       </div>
