<div class="row">
        <div class="col-md-12">
        <div class="row heroshot">
                    <div class="col-md-6 col-lg-8 hidden-sm">
                    <h1>Public Cloud Service Comparison</h1>
                    <h2>A service & feature level mapping between the 5 major public clouds i.e. Amazon Web Services, Microsoft Azure, Google Cloud, IBM Bluemix & Oracle.</h2>
                    </div>
                    <div class="col-md-6 col-lg-4 hidden-sm">
                    <div class="heroimage"><img src="assets/images/heroshot_cloud.png" /></div>
                    </div>
        </div>    
        </div>
    </div>